body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f3f3f3;
}

.login-container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

.login-form {
    padding: 20px;
}

.login-form h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ff9900;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.extra-options {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 16px;
    
}

.create-account {
    text-align: center;
}

.create-account a {
    color: #0066c0;
    text-decoration: none;
    font-weight: bold;
}
